.chart-main {
  margin: 15px;
}

.chart-main .note-color-unused {
  background-color: #ff7043;
}
.chart-main .note-color-used {
  background-color: #42a5f5;
}

.chart-main .chart-value-ticket-used-event {
  position: absolute;
  top: 130px;
  left: -26px;
  z-index: 2;
}
.chart-main .chart-value-ticket-unused-event {
  position: absolute;
  top: 130px;
  left: 200px;
  z-index: 2;
}

.chart-main .chart-value-ticket-used-family {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
}
.chart-main .chart-value-ticket-unused-family {
  position: absolute;
  top: 130px;
  left: 190px;
  z-index: 2;
}
