.ticket-list {
  margin: 15px;
}
.ticket-list .search {
  position: relative;
  display: flex;
  /* padding: 10px 16px; */
  height: 48px;
}
.ticket-list .search input {
  background: #f7f7f8;
  border-radius: 7px;
  width: 250px;
  height: 28px;
}
.ticket-list .search .search-icon {
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 225px;
}
.ticket-list .search {
  position: relative;
  display: flex;
  height: 48px;
}

.ticket-list .button-content .filter,
.export {
  border: 1px solid #ff993b;
  border-radius: 10px;
  padding: 0 14px;
  color: #ff993b;
  font-weight: bold;
}
.ticket-list .table-header {
  border-top: 10px;
}
.ticket-list .table-header tr {
  background-color: #f1f4f8;
  border: none;
}
.ticket-list .table-header tr th {
  color: #1e0d03;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.ticket-list tbody tr td {
  color: #61554f;
}

.ticket-list .ticket-used {
  border: 1px solid #919dba;
  background-color: #eaf1f8;
  color: #919dba;
}
.ticket-list .ticket-unused {
  border: 1px solid #40bf3f;
  background-color: #def6e0;
  color: #03ac00;
}
.ticket-list .ticket-expired {
  border: 1px solid #fd5959;
  background-color: #f8ebe8;
  color: #fd5959;
}
